In [2]:
import pandas as pd
from pathlib import Path

In [4]:
#store filepaths as a variable
file1 = Path("Resources/202410/202410-citibike-tripdata_1.csv")
file2 = Path("Resources/202410/202410-citibike-tripdata_2.csv")
file3 = Path("Resources/202410/202410-citibike-tripdata_3.csv")
file4 = Path("Resources/202410/202410-citibike-tripdata_4.csv")
file5 = Path("Resources/202410/202410-citibike-tripdata_5.csv")
file6 = Path("Resources/202410/202410-citibike-tripdata_6.csv")

In [6]:
#read data files with pandas library
file1_df = pd.read_csv(file1, low_memory=False)
file2_df = pd.read_csv(file2, low_memory=False)
file3_df = pd.read_csv(file3, low_memory=False)
file4_df = pd.read_csv(file4, low_memory=False)
file5_df = pd.read_csv(file5, low_memory=False)
file6_df = pd.read_csv(file5, low_memory=False)

In [7]:
file1_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,B4544C93905FA10E,electric_bike,2024-10-13 17:38:36.748,2024-10-13 17:45:22.657,Rutgers St & Henry St,5230.02,Lafayette St & Grand St,5422.09,40.713322,-73.990097,40.720280,-73.998790,member
1,435860FFE89FC278,electric_bike,2024-10-06 00:58:33.042,2024-10-06 01:02:46.775,Washington Ave & E 167 St,8068.01,College Ave & E 170 St,8175.06,40.829896,-73.907618,40.837576,-73.910489,member
2,4EB0709C97181E8A,electric_bike,2024-10-11 21:15:40.455,2024-10-11 21:46:54.286,E Fordham Rd & Webster Ave,8582.09,Jerome Ave & E Mosholu Pkwy S,8795.01,40.861748,-73.891050,40.879350,-73.885340,member
3,930590FEA1806C34,electric_bike,2024-10-14 19:08:12.154,2024-10-14 19:30:24.011,Washington Ave & E 167 St,8068.01,Frederick Douglass Blvd & W 115 St,7658.13,40.829896,-73.907618,40.803865,-73.955931,casual
4,EA33E5FD386A60F4,electric_bike,2024-10-13 01:19:20.877,2024-10-13 01:29:47.343,E Fordham Rd & Webster Ave,8582.09,Jerome Ave & E Mosholu Pkwy S,8795.01,40.861748,-73.891050,40.879350,-73.885340,casual

In [8]:
combined_df = pd.concat([file1_df, file2_df, file3_df, file4_df, file5_df, file6_df], ignore_index=True)
combined_df.tail()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
5999995,5CB654F38B775791,electric_bike,2024-10-28 17:05:05.665,2024-10-28 17:22:51.509,Goulden Ave & Bedford Park Blvd,8738.01,Riverside Dr & Broadway,8616.06,40.873870,-73.895330,40.865364,-73.927910,member
5999996,96F001FC414D0497,classic_bike,2024-10-20 09:16:52.418,2024-10-20 09:26:58.060,Fulton St & Clermont Ave,4386.05,Lincoln Pl & Classon Ave,3960.01,40.684157,-73.969223,40.672168,-73.960900,member
5999997,2231AFFBF82B6BB9,classic_bike,2024-10-28 13:43:27.523,2024-10-28 14:16:00.499,Greenwich St & Hubert St,5470.10,E 84 St & Park Ave,7243.04,40.721319,-74.010065,40.778627,-73.957721,member
5999998,85C991784F68B501,electric_bike,2024-10-30 20:50:42.017,2024-10-30 20:52:06.200,Prospect Ave & Vanderbilt St,3426.02,11 Ave & Prospect Ave,3538.09,40.653368,-73.976291,40.656290,-73.977335,member
5999999,0C7236D88ACB3212,electric_bike,2024-10-14 21:58:34.532,2024-10-14 22:17:38.901,Mercer St & Bleecker St,5679.05,Court St & Nelson St,4077.07,40.727064,-73.996621,40.676395,-73.998699,member

In [9]:
row_count = combined_df.shape[0]
print(row_count)

6000000

In [14]:
row_count = cleaned_combined_df.shape[0]
print(row_count)combined_df = combined_df.dropna()
cleaned_combined_df.tail()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
5999995,5CB654F38B775791,electric_bike,2024-10-28 17:05:05.665,2024-10-28 17:22:51.509,Goulden Ave & Bedford Park Blvd,8738.01,Riverside Dr & Broadway,8616.06,40.873870,-73.895330,40.865364,-73.927910,member
5999996,96F001FC414D0497,classic_bike,2024-10-20 09:16:52.418,2024-10-20 09:26:58.060,Fulton St & Clermont Ave,4386.05,Lincoln Pl & Classon Ave,3960.01,40.684157,-73.969223,40.672168,-73.960900,member
5999997,2231AFFBF82B6BB9,classic_bike,2024-10-28 13:43:27.523,2024-10-28 14:16:00.499,Greenwich St & Hubert St,5470.10,E 84 St & Park Ave,7243.04,40.721319,-74.010065,40.778627,-73.957721,member
5999998,85C991784F68B501,electric_bike,2024-10-30 20:50:42.017,2024-10-30 20:52:06.200,Prospect Ave & Vanderbilt St,3426.02,11 Ave & Prospect Ave,3538.09,40.653368,-73.976291,40.656290,-73.977335,member
5999999,0C7236D88ACB3212,electric_bike,2024-10-14 21:58:34.532,2024-10-14 22:17:38.901,Mercer St & Bleecker St,5679.05,Court St & Nelson St,4077.07,40.727064,-73.996621,40.676395,-73.998699,member

In [16]:
row_count = cleaned_combined_df.shape[0]
print(row_count)

5982290

In [18]:
sample_202410_df = combined_df.sample(frac=0.05)

In [20]:
row_count = sample_202410_df.shape[0]
print(row_count)

300000

In [25]:
#export file as csv
sample_202410_df.to_csv("Resources/ny_citibike_202410.csv", index=False, header=True)